---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="セキュリティが好きな大学生のブログ"
	pubDate={new Date('August 08 2021')}
	ogImage="/logo.png"
>
	<p>
		セキュリティが好きな大学生です。
	</p>
</Layout>
