---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import HeroPost from '../components/HeroPost.astro';
import PostGrid from '../components/PostGrid.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { estimateReadingTime } from '../utils/readingTime';

const posts = (await getCollection('blog'))
	.map((post) => ({
		...post,
		readingTime: estimateReadingTime(post.body ?? ''),
	}))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const [heroPost, ...restPosts] = posts;
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} twitterSite="@__AlmondLatte__" />
		<style>
			main {
				width: 960px;
			}
			.hero-divider {
				border: none;
				border-top: 1px solid rgb(var(--gray-light));
				margin: 2rem 0;
			}
			@media (max-width: 720px) {
				main {
					width: 100%;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				{heroPost && <HeroPost post={heroPost} />}
				<hr class="hero-divider" />
				<PostGrid posts={restPosts} />
			</section>
		</main>
		<Footer />
	</body>
</html>
