---
import type { CollectionEntry } from 'astro:content';
import PostCard from './PostCard.astro';

type PostWithExtras = CollectionEntry<'blog'> & { readingTime: number };

interface Props {
	posts: PostWithExtras[];
}

const { posts } = Astro.props;
---

<ul class="post-list">
	{posts.map((post) => (
		<li>
			<PostCard post={post} titleTag="h4" />
		</li>
	))}
</ul>

<style>
	.post-list {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.post-list li {
		width: calc(50% - 1rem);
	}
	.post-list li :global(*) {
		text-decoration: none;
		transition: 0.2s ease;
	}
	.post-list li :global(img) {
		margin-bottom: 0.5rem;
	}
	.post-list li :global(.date) {
		margin: 0;
	}
	.post-list li :global(.tags) {
		justify-content: center;
		margin: 0.5em auto 0;
		max-width: 100%;
		width: fit-content;
	}
	.post-list li :global(.tags li) {
		width: auto;
	}
	.post-list li:hover :global(.title) {
		color: rgb(var(--accent));
	}
	.post-list li:hover :global(img) {
		box-shadow: var(--box-shadow);
	}
	@media (max-width: 720px) {
		.post-list {
			gap: 0.5em;
		}
		.post-list li {
			width: 100%;
			text-align: center;
		}
	}
</style>
