.toc li {
  border-left: solid 1px silver;
  padding-left: 1rem;
  box-sizing: border-box;
}
.toc ul > li::marker {
  list-style-type: disc;
}
.toc.active,
.toc:hover {
  background: whitesmoke;
  color: #cc9e08;
}
.li_h1 {
  font-size: small;
  margin: 7px 0px;
  font-weight: bold;
  color: rgb(82 82 91);
}
.li_h2 {
  font-size: small;
  margin: 7px 0px;
}
.li_h2::before {
  content: ' - ';
}
